/* html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.auth-bg {
  background-image: url('../../../assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-text-image {
  width: 40%;
  max-width: 90%;
  height: auto;
  /* margin-bottom: 30px; */
}

.register-card {
  border: 2px solid #0a7b9d;
  border-radius: 20px;
  padding: 40px 30px;
  background-color: white !important;
  color: #0a7b9d;
  width: 38%;
  /* max-width: 600px;
  min-width: 300px; */
}

h3.text-center {
  font-weight: bold;
  color: #0a7b9d;
  font-size: 45px;
}

input.form-control {
  background-color: white !important;
  color: #0a7b9d !important;
  border: 1px solid #0a7b9d;
  border-radius: 10px;
  box-shadow: none !important;
  caret-color: #0a7b9d;
  transition: background-color 0s;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  caret-color: #0a7b9d;
  border: 1px solid #0a7b9d;
}

.form-label {
  color: #0a7b9d;
  font-weight: 600;
  font-size: 30px;
}

.btn-coffee {
  background-color: #0a7b9d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.3s ease;
  /* width: 130px; */
    width: 35%;

  justify-content: center;
  display: block;
  margin: 0 auto;
  font-size: 25px;
}

.btn-coffee:hover {
  background-color: #08657f;
  color: white;
}

.text-danger {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.link-light {
  color: #0a7b9d !important;
  text-decoration: none;
  font-weight: bold;
}

.link-light:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .register-card {
    width: 60%;
  }

  .overlay-text-image {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .register-card {
    width: 95%;
    padding: 20px;
  }

  .overlay-text-image {
    width: 90%;
  }

  h3.text-center {
    font-size: 35px;
  }

  .form-label {
    font-size: 20px;
  }

  .btn-coffee {
    font-size: 18px;
    width: 100%;
  }
}



/* register.component.scss */
#pwdHelp li {
  transition: color .2s ease, text-decoration-color .2s ease;
}
