<footer class="footer-wave">
  <div class="footer-inner">
    <div class="footer-grid">

      <!-- ABOUT -->
      <div class="footer-col">
        <h4 class="footer-title">{{ "footer.aboutus" | translate }}</h4>
        <a class="footer-link">{{ "footer.aboutus" | translate }}</a>
        <!-- <a class="footer-link">Contact</a> -->
        <a class="footer-link">{{ "footer.privacypolicy" | translate }}</a>
        <a class="footer-link">{{ "footer.termsofcondition" | translate }}</a>
      </div>

      <!-- CATEGORIES -->
      <div class="footer-col">
        <h4 class="footer-title">{{ "footer.popularcategories" | translate }}</h4>
        <a class="footer-link" routerLink="/tapioca">{{ "navbar.tapioca" | translate }}</a>
        <a class="footer-link" href="https://t4tea.shop">{{ "navbar.teas" | translate }}</a>
        <a class="footer-link" routerLink="/juice">{{ "navbar.juice" | translate }}</a>
        <a class="footer-link" routerLink="/sauce">{{ "navbar.sauce" | translate }}</a>
        <a class="footer-link" routerLink="/popping">{{ "navbar.popping" | translate }}</a>
        <a class="footer-link" routerLink="/powders">{{ "navbar.powders" | translate }}</a>
        <a class="footer-link" routerLink="/waffle-sauce">{{ "navbar.waffle-sauce" | translate }}</a>
        <a class="footer-link" routerLink="/waffle-mix">{{ "navbar.waffle-mix" | translate }}</a>
      </div>

      <!-- LOCATIONS -->
      <div class="footer-col">
        <h4 class="footer-title">{{ "navbar.branch" | translate }}</h4>
        <a class="footer-link" href="https://maps.app.goo.gl/qzpKkLSPGriR3HY19">{{ "footer.hadayekalahram" | translate }}</a>
        <a class="footer-link" href="https://maps.app.goo.gl/crhQJFhwDfj1j6DK6">{{ "footer.wasletdahshour" | translate }}</a>
      </div>

      <!-- LOGO + SOCIAL -->
      <div class="footer-col footer-right">
        <img src="../../../assets/Group 73.png" class="footer-logo" alt="Bubblehope">
        <div class="footer-social">
          <a class="social-btn" href="https://www.facebook.com/profile.php?id=100083979669498"><i
              class="fa-brands fa-facebook-f"></i></a>
          <a class="social-btn"><i class="fa-brands fa-tiktok"></i></a>
          <a class="social-btn" href="https://www.instagram.com/bubblehope.eg/"><i
              class="fa-brands fa-instagram"></i></a>
          <a class="social-btn" href="https://wa.me/201006767722" target="_blank" rel="noopener"><i
              class="fa-brands fa-whatsapp"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>


<div class="bg-black mb-0 text-center py-2 px-5">
  <p class="mb-0 text-secondary fs-6">© 2025 DAL. All rights reserved.</p>
</div>