<!-- <div class="parent d-md-block d-none bastel" dir="ltr">
  <div class="footer">
    <div class="in-footer   row align-items-center ">
      <div class="col-md-4 pt-4 ps-5 mb-6 ">

        <img src="assets/Untitled-2.png" class="w-30 mb-3" alt="footer" />

        <div class="fw-normal mb-3 footer-bubble-data main-color" style="text-align: justify;">
          {{'footer.data' | translate}}</div>

        <div class="text-start ">
          <div class=" d-inline-block follow" style="width: fit-content;">
            <div class="social-links d-flex justify-content-start gap-3">

            </div>
          </div>
        </div>

      </div>

      <div class="col-md-5 ms-5 mt-5 mb-6">


        <div>
          <h2 class="text-center mb-0 orange-color footer-data rtlDirFont"> {{'footer.findUsOn' | translate}}</h2>
          <div class="text-center  ">
            <div class=" d-inline-block follow" style="width: fit-content;">
              <div class="social-links d-flex justify-content-start gap-3">



                <a class="cover-icon" href="https://www.tiktok.com/@bubblehope.eg?is_from_webapp=1&sender_device=pc"
                  target="_blank" rel="noopener noreferrer" aria-label="TikTok">
                  <a class="d-flex">
                    <i class="fa-brands fa-whatsapp"></i>
                  </a>
                </a>





                <a class="cover-icon" href="https://www.tiktok.com/@bubblehope.eg?is_from_webapp=1&sender_device=pc"
                  target="_blank" rel="noopener noreferrer" aria-label="TikTok">
                  <a class="d-flex">
                    <i class="bi bi-tiktok"></i>
                  </a>
                </a>




                <a class="cover-icon" href="https://www.facebook.com/people/BubbleHopeeg/100083979669498/"
                  target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                  <a class="d-flex">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </a>




                <a class="cover-icon" href="https://www.instagram.com/bubblehope.eg/" target="_blank"
                  rel="noopener noreferrer" aria-label="Instagram">
                  <a class="">
                    <i class="bi bi-instagram p-0"></i>
                  </a>
                </a>













              </div>
            </div>
          </div>
        </div>


        <div>
          <h2 class="text-center  mt-3 orange-color footer-data rtlDirFont"> {{'footer.weAreAlsoIn' |
            translate}}</h2>
          <p class=" text-center footer-data fs-4 main-color" style="text-align: justify; margin-top: -20px;">
            {{'footer.kuwaitTurkiye' | translate}}</p>
        </div>

      </div>




      <div class="col-md-2 h-100 d-flex align-items-end justify-content-end flex-column in-footer2">
        <img src="assets/CupImg.png" alt="footer" class="w-100 ">
      </div>

    </div>
  </div>
</div> -->





<!-- 
<div class="parent d-block d-md-none position-relative " dir="ltr">
  <div class="footer ">
    <div class="in-footer row align-items-center ">
      <div class="col-md-4 ">
        <img src="assets/Untitled-2.png" class="w-50 mb-3" alt="footer" />

        <div class="fs-5 fw-light footer-bubble-data main-color">{{'footer.data' | translate}}</div>



      </div>

      <div class="col-md-3 left-cup">

        <div class="mb-2">
          <p class="footer-data mb-1 rtlDirFont main-color">{{'footer.findUsOn' | translate}}</p>

          <div class="text-start">
            <div class=" d-inline-block follow mb-2 " style="width: fit-content;">
              <div class="social-links d-flex justify-content-start gap-2">



                <a class="cover-icon" href="https://www.tiktok.com/@bubblehope.eg?is_from_webapp=1&sender_device=pc"
                  target="_blank" rel="noopener noreferrer" aria-label="TikTok">
                  <a class="d-flex">
                    <i class="fa-brands fa-whatsapp"></i>
                  </a>
                </a>





                <a class="cover-icon" href="https://www.tiktok.com/@bubblehope.eg?is_from_webapp=1&sender_device=pc"
                  target="_blank" rel="noopener noreferrer" aria-label="TikTok">
                  <a class="d-flex">
                    <i class="bi bi-tiktok"></i>
                  </a>
                </a>




                <a class="cover-icon" href="https://www.facebook.com/people/BubbleHopeeg/100083979669498/"
                  target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                  <a class="d-flex">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </a>




                <a class="cover-icon" href="https://www.instagram.com/bubblehope.eg/" target="_blank"
                  rel="noopener noreferrer" aria-label="Instagram">
                  <a class="">
                    <i class="bi bi-instagram p-0"></i>
                  </a>
                </a>















              </div>
            </div>
          </div>
        </div>


        <div>
          <p class="footer-data mb-0 rtlDirFont main-color">{{'footer.weAreAlsoIn' | translate}}</p>
          <p class="footer-data orange-color fs-5 rtlDirFont main-color">{{'footer.kuwaitTurkiye' | translate}}</p>
        </div>

      </div>





    </div>
  </div>
</div> -->





<div class="footer p-5 mt-4">
  <div class="row align-items-center">
    <div class="col-md-4 t-c">
      <img src="../../../assets/Untitled-2.png" class="w-50 mb-3" alt="">
      <div class=" w-50">
        <!-- <div class="social-links d-flex justify-content-around gap-3">



          <a class="cover-icon" href="https://www.tiktok.com/@bubblehope.eg?is_from_webapp=1&sender_device=pc"
            target="_blank" rel="noopener noreferrer" aria-label="TikTok">
            <a class="d-flex">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </a>





          <a class="cover-icon" href="https://www.tiktok.com/@bubblehope.eg?is_from_webapp=1&sender_device=pc"
            target="_blank" rel="noopener noreferrer" aria-label="TikTok">
            <a class="d-flex">
              <i class="bi bi-tiktok"></i>
            </a>
          </a>




          <a class="cover-icon" href="https://www.facebook.com/people/BubbleHopeeg/100083979669498/" target="_blank"
            rel="noopener noreferrer" aria-label="Facebook">
            <a class="d-flex">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </a>




          <a class="cover-icon" href="https://www.instagram.com/bubblehope.eg/" target="_blank"
            rel="noopener noreferrer" aria-label="Instagram">
            <a class="">
              <i class="bi bi-instagram p-0"></i>
            </a>
          </a>

        </div> -->
        <div class="socials w-100 d-flex justify-content-between">
          <a class="cover-icon" href="https://wa.me/201000000000" target="_blank" rel="noopener" aria-label="WhatsApp">
            <i class="fa-brands fa-whatsapp"></i>
          </a>

          <a class="cover-icon" href="https://www.tiktok.com/@bubblehope.eg?is_from_webapp=1&sender_device=pc"
            target="_blank" rel="noopener" aria-label="TikTok">
            <i class="fa-brands fa-tiktok"></i>
          </a>

          <a class="cover-icon" href="https://www.facebook.com/profile.php?id=100083979669498" target="_blank" rel="noopener"
            aria-label="Facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>

          <a class="cover-icon" href="https://www.instagram.com/bubblehope.eg/" target="_blank" rel="noopener"
            aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>

      </div>
    </div>

    <div class="col-md-4 text-center ">

      <h2 class="pointer second-color" routerLink="/home">Bubble Tea</h2>
      <p class="pointer text-light mb-0 fw-normal fs-4" routerLink="/products">{{'navbar.fullMenu' | translate}}</p>
      <p class="pointer text-light mb-0 fw-normal fs-4" [routerLink]="['/rawMaterialProducts']"
        [queryParams]="{ categoryId: 10 }">{{'home.rawMaterial.raw'|translate}}
        {{'home.rawMaterial.material'|translate}}</p>
      <p class="pointer text-light mb-0 fw-normal fs-4" routerLink="/aboutus">{{'navbar.about'|translate}}</p>
      <p class="pointer text-light mb-0 fw-normal fs-4" routerLink="/home">{{'footer.termsofcondition' | translate}}</p>
      <p class="pointer text-light mb-0 fw-normal fs-4" routerLink="/home">{{'footer.privacypolicy' | translate}}</p>

    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <!-- <img src="../../../assets/Untitled-1-Recovered (1).png" class="w-30" alt=""> -->
    </div>

  </div>
</div>





<div class="bg-black mb-0 text-center py-2 px-5">
  <p class="mb-0 text-secondary fs-6">© 2025 DAL. All rights reserved.</p>
</div>