<div class="parent">
  <div class="hero-carousel">
    <owl-carousel-o #heroCarousel [options]="customOptions">

      <!-- ✅ Slide 1: Promo -->
      <ng-template carouselSlide [id]="'promo-slide'">

        <section class="promo ">
          <div class="promo__container  w-75">

            <div class="promo__visual d-md-flex d-none">
              <img class="promo__img " src="../../../../assets/Untitled-1 (4).png" alt="Bubble tea cups" />
            </div>

            <div class="promo__content text-center ms-0 ">
              <h2 class="promo__title">
                Burstin’<br />
                <span class="orange promo__title">Bubble</span><br />
                Delight!
              </h2>
              <p class="promo__subtitle fs-3 fw-light ">Sip, smile &amp; enjoy the fun!</p>
              <div class="promo__actions d-flex justify-content-center ">
                <a class="btn btn--primary py-4 fs-4" href="https://offers.bubblehope.com">Order Now</a>
                <a class="btn btn--outline py-4 fs-4" routerLink="/products">View Menu</a>
              </div>
            </div>

          </div>

          <span class="b b1"></span>
          <span class="b b2"></span>
          <span class="b b3"></span>
          <span class="b b4"></span>
          <span class="b b5"></span>
          <span class="b b6"></span>
          <span class="b b7"></span>
          <span class="b b8"></span>
          <span class="b b9"></span>

        </section>

      </ng-template>

      <!-- ✅ Slides 2..n: Ads -->
      <ng-template carouselSlide *ngFor="let item of advertisements; trackBy: trackById">
        <div class="img-cover  ad-slide" [routerLink]="['/advertisementProducts', item.id]">
          <img [src]="item.imageUrl" [alt]="item.title" loading="lazy" />
        </div>
      </ng-template>

    </owl-carousel-o>
  </div>
</div>