.product-details {
  display: flex;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: space-between;

  .heart-icon {
    position: absolute;
    top: 0px;
    right: 10px;
    // color: #ff7f20;
    // border: 2px solid #ff7f20;
    border-radius: 50%;
    padding: 10px;
  }

  .image-wrapper {
    // border: 2px solid #ff7f20;
    border-radius: 40px;
    padding: 20px;
    background: #fff8ec;
  }

  img {
    width: 200px;
    height: auto;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  }

  .col-md-6 {
    height: 90vh;
  }

  .product-info {
    flex: 1.5;
    padding: 0 40px;

    h1 {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 10px;
      // color: #ff7f20;
    }

    h3 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #222;
    }

    p.description {
      /* font-size: 16px; */
      line-height: 1.7;
      margin-bottom: 40px;
      color: #333;
    }

    .price-cart {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .add-btn {
        padding: 8px 15px;
        // border: 2px solid #ff7f20;
        border-radius: 12px;
        // color: #ff7f20;
        font-weight: bold;
        background: transparent;
        transition: all 0.3s ease;
        font-size: 25px;
        /* &:hover {
          color: #fff;
        } */
      }
    }
  }
}

.price {
  font-size: 40px !important;
  font-weight: bold;
  // color: #ff7f20 !important;
}

.cart-data {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .product-details {
    /* background-size: contain; */
    background-repeat: no-repeat;
    width: 95%;
    margin: auto !important;
    margin-top: 10px !important;
  }

  img {
    width: 250px;
    height: auto;
  }

  .product-info {
    margin: 0px 0;
    padding: 0 10px !important;
  }

  .col-md-6 {
    height: auto !important;
  }
}

@media (max-width: 1200px) {
  .product-details {
    /* background-size: contain; */
    background-repeat: no-repeat;
  }

  img {
    width: 280px;
    height: auto;
  }

  .product-info {
    margin: 30px 0;
  }
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 1500px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border: 1px solid red; */
}

.col-md-3 {
  /* background-color: #B40000; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
