<header class="bh-navbar ">
  <div class="bh-inner d-flex align-items-center pt-3 justify-content-between">
    <!-- Logo -->
    <a class="bh-brand" routerLink="/">
      <img src="../../../assets/Group 73.png" alt="Bubble Hope" />
    </a>

    <!-- Desktop links -->
    <nav class="bh-links" [class.is-open]="isMenuOpen">
      <!-- <a routerLink="/home" routerLinkActive="active">Home</a> -->
      <a routerLink="/tapioca" routerLinkActive="active">{{ "navbar.tapioca" | translate }}</a>
      <a href="https://t4tea.shop" routerLinkActive="active">{{ "navbar.teas" | translate }}</a>
      <a routerLink="/juice" routerLinkActive="active">{{ "navbar.juice" | translate }}</a>
      <a routerLink="/sauce" routerLinkActive="active">{{ "navbar.sauce" | translate }}</a>
      <a routerLink="/popping" routerLinkActive="active">{{ "navbar.popping" | translate }}</a>
      <a routerLink="/powders" routerLinkActive="active">{{ "navbar.powders" | translate }}</a>

      <!-- <a routerLink="/waffle-sauce" routerLinkActive="active">Waffle Sauce</a>
      <a routerLink="/waffle-mix" routerLinkActive="active">Waffle Mix</a> -->
      
    </nav>

    <!-- Icons -->
    <div class="bh-actions">
      <div class="dropdown account-dd">
        <button class="icon-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
          aria-label="Account">
          <i class="bi bi-person fs-3"></i>
        </button>

        <ul class="dropdown-menu dropdown-menu-end account-menu">
          <!-- لو مسجل -->
          <ng-container *ngIf="isLoggedIn; else guestMenu">
            <li class="px-3 py-2 text-muted small">
              Hello, {{ firstName }}
            </li>

            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" routerLink="/change-password">Change Password</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <button class="dropdown-item text-danger" (click)="logout()">
                Logout
              </button>
            </li>
          </ng-container>

          <!-- لو مش مسجل -->
          <ng-template #guestMenu>
            <li><a class="dropdown-item" routerLink="/auth/login">Login</a></li>
            <li><a class="dropdown-item" routerLink="/auth/register">Register</a></li>
            <li><a class="dropdown-item" routerLink="/change-password">Change Password</a></li>
          </ng-template>
        </ul>
      </div>


      <button class="icon-btn" aria-label="Cart" routerLink="/cart">
        <i class="bi bi-bag"></i>
        <span class="badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
      </button>

      <button class="icon-btn" routerLink="/wishlist" aria-label="Favorites">
        <i class="bi bi-heart"></i>
      </button>

      <button class="icon-btn">
        <i class="fa-solid fa-globe fs-4" (click)="changeLanguage()"></i>
      </button>


      <!-- Mobile toggle -->
      <button class="menu-btn" type="button" (click)="isMenuOpen = !isMenuOpen" [attr.aria-expanded]="isMenuOpen"
        aria-label="Menu">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>

  <!-- Wave (pure CSS) -->
  <div class="bh-wave" aria-hidden="true"></div>
</header>

<div class="bh-overlay" *ngIf="isMenuOpen" (click)="isMenuOpen=false"></div>