.auth-bg {
  background-image: url('../../../assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img.overlay-text-image {
  width: 45%;
  margin: 0;
}

.login-card {
  border: 2px solid #0a7b9d;
  border-radius: 20px;
  padding: 40px 30px;
  background-color: white !important;
  color: #0a7b9d;
  width: 40%;
}

h3.text-center {
  font-weight: bold;
  color: #0a7b9d;
  font-size: 50px;
}

input.form-control {
  background-color: white !important;
  border: 1px solid #0a7b9d;
  border-radius: 10px;
  box-shadow: none !important;
  caret-color: #0a7b9d;
  transition: background-color 0s;
  font-size: 18px;
  padding: 10px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  caret-color: #0a7b9d;
  border: 1px solid #0a7b9d;
}

.form-label {
  color: #0a7b9d;
  font-weight: 600;
  font-size: 25px;
}

.btn-coffee {
  background-color: #0a7b9d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  transition: 0.3s ease;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}

.btn-coffee:hover {
  background-color: #08657f;
  color: white;
}

.text-danger {
  color: red;
  font-size: 13px;
}

.text-success {
  color: green;
  font-size: 15px;
}

@media (max-width: 768px) {
  img.overlay-text-image {
    width: 90%;
  }

  .login-card {
    width: 95%;
  }
}