

<app-advertise-carousel></app-advertise-carousel>
<app-main-categories></app-main-categories>




<!-- <app-ramadan></app-ramadan> -->






<app-image-carousel></app-image-carousel>
<app-best-sellers></app-best-sellers>
<app-mobile-advertise></app-mobile-advertise>
<app-kids-area-section></app-kids-area-section>
<app-bubble-events-section></app-bubble-events-section>
<app-trainning></app-trainning>
<app-contact></app-contact>




<!-- <button class="scroll-to-top" *ngIf="showScrollButton" (click)="scrollToTop()">
    <i class="fa-solid fa-arrow-up"></i>
</button> -->


