<app-advertise-carousel></app-advertise-carousel>
<app-main-categories></app-main-categories>
<app-raw-material-categories></app-raw-material-categories>
<app-image-carousel></app-image-carousel>
<app-mobile-advertise></app-mobile-advertise>
<app-best-sellers></app-best-sellers>
<app-trainning></app-trainning>
<app-contact></app-contact>

<button class="scroll-to-top" *ngIf="showScrollButton" (click)="scrollToTop()">
    <i class="fa-solid fa-arrow-up"></i>
</button>


<!-- <app-raw-material-categories></app-raw-material-categories> -->
