/* تمركز الأسهم خارجية */
.slider-arrow {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 5;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #000000;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

}

.slider-arrow.left {
  left: 8px;
}

.slider-arrow.right {
  right: 8px;
}

/* الدوتس في أسفل الكاروسيل ومتمركزة */
:host ::ng-deep .categories-carousel .owl-theme .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
}

/* الصورة تبقى داخل التدوير */
// .category-card img {
//   display: block;
//   width: 50%;
//   height: auto;
//   height: 230px;
//   width: 150px;
// }




// .category-card {
//   cursor: pointer;
//   user-select: none;
//   background-color: #F9D3C0;
//   border-radius: 50%;
//   width: 230px;
//   height: 380px;
// }



/* الدائرة نفسها */
.category-card {
  position: relative;
  background: #F9D3C0;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  /* يضمن دايرة تمام */
  width: clamp(160px, 22vw, 320px);
  /* مقاس مرن: من 160 لـ 320 حسب الشاشة */
  margin: 0 auto;
  /* توسيط داخل العمود/السلايد */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

/* الصورة جوا الدائرة */
.category-card img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: block;
}

/* العنوان تحت الدائرة */
.category-title {
  margin-top: 12px;
  font-weight: 700;
  text-align: center;
}

/* لو بتستخدمي Swiper أو سلايدر مشابه */
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}







.categoriesSwiperCustom {
  max-width: 1600px;
  margin: auto;
}


@media (max-width:768px) {
  .category-card img {

    height: 200px;
    width: 150px;
  }

  .category-card {
    cursor: pointer;
    width: 100%;
    height: 300px;
  }

}


.owl-item {
  margin: 0 70px !important;
}