.up-down {
    // display: inline-block;
    animation: upDown 2s ease-in-out infinite;

}



.training {
    // min-height: 80vh; 
    // height: 100vh;
    max-width: 1950px;
    margin: auto;
    // background-image: url('../../../../assets/texture-01.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.cov-img{
    background-color: #F47421;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
        /* الوضع الطبيعي */
    }

    50% {
        transform: translateY(-20px);
        /* تطلع لفوق مسافة صغيرة */
    }
}



img {
    width: 50%;
}



// @media (min-width:993px) {

//     .training {
//         height: 100vh !important;
//     }

// }


// @media (max-width:992px) {

//     img {
//         width: 100%;
//     }

//     .training {
//         height: auto !important;
//         padding-top: 150px;
//     }

//     .up-down {}

// }




/* ≥993px: الافتراضي 100vh */
@media (min-width:993px) {
//   .training { height: 100vh !important; }
}

/* ≤992px: موبايل */
@media (max-width:992px) {
  img { width: 100%; }
  .training { height: auto !important; padding-top: 150px; }
}

/* XL فقط (زي الشاشة اللي بعتّيها ~1323px) */
@media (min-width:1200px) and (max-width:1399.98px) {
  .training { height: 80vh !important; }
}




.scroller {
    --gap: 3px;
    --speed: 20s;
    overflow: hidden;
    width: 100%;
    background: #F47421;
    padding-block: 12px;

}



.scroller__track {
    display: flex;
    gap: var(--gap);
    width: max-content;
    /* خليه على قد المحتوى */
    align-items: center;
    animation: scroll var(--speed) linear infinite;
}



/* الإتجاه LTR: من اليمين لليسار بصرياً */
@keyframes scroll {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}



/* احترام تفضيل تقليل الحركة */
@media (prefers-reduced-motion: reduce) {
    .scroller__track {
        animation: none;
    }
}



/* موبايل: صغّري الارتفاع والـgap */
@media (max-width: 576px) {
    .scroller {
        --gap: 12px;
    }


}