.training {
    max-width: 1950px;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 60px 0;
}


.training::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../../../assets/Group 74.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    z-index: 0;
}

/* خلي المحتوى فوق الخلفية */
.training .row {
    position: relative;
    z-index: 1;
}

/* المحتوى */
.content {
    width: 70%;
}

/* موبايل */
@media (max-width: 992px) {
    .training {
        min-height: auto;
        padding-top: 140px;
        padding-bottom: 60px;
        background-size: 100% auto;
    }

    .content {
        width: 100%;
    }

    .training img {
        width: 100%;
    }
}




.training {
    position: relative;
    overflow: hidden;
}

/* Desktop / default: الخلفية عادي */
.training::before {
    content: "";
    position: absolute;
    inset: 0;
    /* تغطي السكشن كله على الشاشات الكبيرة */
    background-image: url('../../../../assets/Group 74.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    z-index: 0;
}

.training .row {
    position: relative;
    z-index: 1;
}





@media (max-width: 1600px) {
    .training {
        padding-top: 120px;
        /* مساحة للكلام */
        padding-bottom: 60px;
        /* مساحة للصورة */
        // background-color: green;
    }

    .training::before {
        inset: auto;
        /* مهم: نشيل inset:0 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        // height: clamp(260px, 45vh, 420px); /* تغطي النص فقط */
        background-size: cover;
        background-position: center;
    }

}






/* ✅ Mobile فقط: الخلفية تغطي الكلام بس */
@media (max-width: 768px) {
    .training {
        padding-top: 120px;
        /* مساحة للكلام */
        padding-bottom: 60px;
        /* مساحة للصورة */
    }

    .training::before {
        inset: auto;
        /* مهم: نشيل inset:0 */
        top: 0;
        left: 0;
        width: 100%;
        height: 70vh;
        // height: clamp(260px, 45vh, 420px); /* تغطي النص فقط */
        background-size: cover;
        background-position: right top;
    }

    .content {
        padding-top: 40px;

    }
}





