<div class="training mt-0">
  <div class="training-wave" aria-hidden="true"></div>

  <div class="row w-100 align-items-center justify-content-between">
    <div class="col-md-6 text-center d-flex justify-content-center">
      <div class="content">
        <h1 class="third-color">Bubblehope</h1>
        <h3 class="third-color">{{ 'training.title' | translate }}</h3>
        <p class="fs-4 text-white pt-3">
          {{ 'training.desc' | translate }}
        </p>
      </div>
    </div>

    <div class="col-md-6 img-content text-center">
      <img src="../../../../assets/000.png" alt="" />
    </div>
  </div>
</div>
