.auth-bg {
  background-image: url("../../../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-card {
  border: 2px solid #0a7b9d;
  border-radius: 20px;
  padding: 40px 30px;
  background-color: white !important;
  color: #0a7b9d;
  width: 40%;
}

h3.text-center {
  font-weight: bold;
  color: #0a7b9d;
  font-size: 60px;
}

input.form-control {
  background-color: white !important;
  border: 1px solid #0a7b9d;
  border-radius: 10px;
  box-shadow: none !important;
  caret-color: #0a7b9d;
  transition: background-color 0s;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  caret-color: #0a7b9d;
  border: 1px solid #0a7b9d;
}

.form-label {
  color: #0a7b9d;
  font-weight: 600;
  font-size: 40px;
}

.btn-coffee {
  background-color: #0a7b9d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  transition: 0.3s ease;
  width: 35%;
  justify-content: center;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 20px;
}

.btn-coffee:hover {
  background-color: #08657f;
  color: white;
}

.btn-outline-coffee {
  background-color: transparent;
  border: 2px solid #0a7b9d;
  color: #0a7b9d;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
  font-size: 18px;
}

.btn-outline-coffee:hover {
  background-color: #0a7b9d;
  color: white;
}

.text-danger {
  color: red;
  font-size: 13px;
}

.fw-bold {
  color: #0a7b9d;
}

a.link-light {
  color: #0a7b9d !important;
  text-decoration: none;
}

a.link-light:hover {
  text-decoration: underline;
}

img.overlay-text-image {
  width: 45%;
  margin: 0;
}
.contact-img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .btn-coffee {
    width: 75%;
  }
}

@media (max-width: 768px) {
  img.overlay-text-image {
    width: 90%;
  }

  .login-card {
    width: 95%;
  }

  .btn-coffee {
    width: 75%;
  }
}
