
.contact-box {
  border: 2px solid #F47421;
  transition: box-shadow 0.3s ease;
  width: 100%;
}

.border-blue {
  border: 1px solid #F47421;
  background-color: white;
}

// .contact-box:hover {
//   box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
// }

// input,
// textarea {
//   background-color: #9b2424;
// }

.contact-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}



@media (max-width: 768px) {

  .contact-form-container {
    width: 95% !important;
  }

}

.contact-form-container {
  width: 45%;
}
