



<!-- <section class="ramadan-section">
  <div class="ramadan-decor mt-5">
<img src="../../../../assets/zena1.png" alt="Ramadan Decoration" class="zena-left">
    <img src="../../../../assets/zena2.png" alt="Ramadan Decoration" class="zena-right">
  </div>

  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-md-10">

        <div class="text-content mb-5">
          <h2 class="ramadan-title">
            <span class="greeting mt-4">Ramadan Kareem</span>
            <span class="highlight">رمضان أحلى مع بابل هوب</span>
          </h2>
          <p class="ramadan-desc mx-auto"> استمتع بأقوى العروض والخصومات على جميع مشروباتنا طوال شهر رمضان المبارك.
          </p>
          <div class="cta-btns justify-content-center d-flex"> <a routerLink="/products" class="btn btn-ramadan">اطلب الآن</a>
            <a routerLink="/products" class="btn btn-outline-white">شوف العروض</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section> -->



  <section class="ramadan-section">
  <div class="ramadan-decor mt-5">
    <img src="../../../../assets/zena1.png" alt="" class="zena-left">
    <img src="../../../../assets/zena2.png" alt="" class="zena-right">
  </div>

  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10">
        <div class="text-content mb-2">
          <h2 class="ramadan-title mt-5">
            <span class="greeting">{{ 'RAMADAN.GREETING' | translate }}</span>
            <span class="highlight">{{ 'RAMADAN.HIGHLIGHT' | translate }}</span>
          </h2>

          <p class="ramadan-desc mx-auto">
            {{ 'RAMADAN.DESC' | translate }}
          </p>

          <div class="cta-btns d-flex flex-wrap justify-content-center">
            <a routerLink="/products" class="btn btn-ramadan">
              {{ 'RAMADAN.ORDER_NOW' | translate }}
            </a>
            <a routerLink="/products" class="btn btn-outline-white">
              {{ 'RAMADAN.VIEW_OFFERS' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
