html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* body {
  overflow-x: hidden;
  max-width: 1950px;
  margin: auto;
  font-family: "AraHamahHoms", sans-serif;
  font-size: 25px;
} */

html[dir="ltr"] body {
  overflow-x: hidden;
  max-width: 1950px;
  margin: auto;
  /* font-family: "AraHamahHoms", sans-serif;
  font-size: 35px; */
}

html[dir="rtl"] body {
  overflow-x: hidden;
  max-width: 1950px;
  margin: auto;
  /* font-size: 25px;
  font-family: "alfontCom", sans-serif; */
}

/* You can add global styles to this file, and also import other style files */
.pointer {
  cursor: pointer;
}

body {
  // color: #117c9f !important;
  overflow-x: hidden;
  /* background-color: aquamarine; */
}

.btn-bg-color {
  background-color: #117c9f;
  color: white !important;

  &:hover {
    background-color: #117c9f;
    color: white;
  }
}



.btn-bg-color2 {
  background-color: #f0f4f5;
  color: #117c9f !important;
  border: 1px solid #117c9f;

  &:hover {
    background-color: #117c9f!important;
    color: #ffffff!important;
    // border: 1px solid #117c9f;
  }
}



.btn-bg-secondcolor2 {
  background-color: #ffffff;
  color: #F47421 !important;
  border: 2px solid #F47421;

  &:hover {
    background-color: #F47421!important;
    color: #ffffff!important;
    // border: 1px solid #117c9f;
  }
}



@font-face {
  font-family: "AraHamahHoms";
  src: url("assets/fonts/AraHamahHoms-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alfontCom";
  src: url("assets/fonts/alfont_com_AlFont_com_Segoe.UI_DownloadSoftware.iR_.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html[dir="rtl"] h1,
h2,
.nav-link,
.dropdown-item,
p,
span,
.total {
  // font-family: "AraHamahHoms", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}

html[dir="ltr"] h1,
h2,
.nav-link,
.dropdown-item,
p,
span,
.total,
label {
  // font-family: "AraHamahHoms", sans-serif;
  
  font-family: Arial, Helvetica, sans-serif;

  font-size: 45px;
}




.nav-link {
  font-size: 25px;
}

a {
  font-size: 20px;
}

p {
  font-size: 25px;
}

span,
.dropdown-item {
  font-size: 20px;
  /* color: #f47524; */
}

label {
  font-size: 30px;
}

/* a{
  font-size: 80px;
} */

@media (max-width: 768px) {

  h1,
  h2,
  a,
  .total {
    // font-family: "AraHamahHoms", sans-serif;
      font-family: Arial, Helvetica, sans-serif;

    // color: #117c9f;
    font-size: 25px !important;
  }

  p {
    font-size: 25px;
  }

  span {
    font-size: 23px;
    /* color: #F47524; */
  }

  label {

    font-size: 30px;
  }
}

.toast-success {
  background-color: #117c9f !important;
  /* أخضر مخصص */
  color: white !important;
}

@font-face {
  font-family: "tido";
  src: url("assets/fonts/alfont_com_TIDO-B.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.footer-data {
  font-family: "tido";
}


.arial {
  font-family: Arial, sans-serif !important;
  
  /* نوع الخط */
  font-weight: normal;
}



.main-color {
  color: #117C9F;
}


.main-bg-color {
  background-color: #117c9f;
}

.main-border-color {
  border-color: #117c9f;

}

.second-color {
  color: #f47421;
}


.second-bg-color {
  background-color: #f47421;
}


.second-border-color {
  border-color: #f47421;

}