.scroller {
    --gap: 10px;
    --speed: 20s;
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    padding-top: 20px;
    background-image: url('../../../../assets/Vector\ \(2\).png');
    background-position: top;
    background-size: cover;
    padding-bottom: 120px;
    background-repeat: no-repeat;
}

.scroller__track {
    display: flex;
    gap: 10px !important;
    width: max-content;
    /* خليه على قد المحتوى */
    align-items: center;
    animation: scroll var(--speed) linear infinite;
}

/* صور موحّدة الحجم نسبياً */
.scroller__track img {
    display: block;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
    height: 320px !important;
    object-fit: contain;
}


.scroller__track .img1 {
    height: 300px;
    /* عدّلي المقاس المناسب */
    min-width: 200px;
    /* عدّلي المقاس المناسب */
}


.scroller__track .img2 {
    height: 400px;
    /* عدّلي المقاس المناسب */
    min-width: 200px;
    /* عدّلي المقاس المناسب */
}

li {
    list-style: none;
    /* يشيل النقاط */
}

/* الإتجاه LTR: من اليمين لليسار بصرياً */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }

    /* -50% لأننا مكررين الصف */
}

/* لو عايزة الإتجاه العكسي (يعني تمشي يمين) */
.scroller[data-reverse="true"] .scroller__track {
    animation-name: scroll-reverse;
}

@keyframes scroll-reverse {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

// /* إيقاف الحركة عند الـhover (اختياري) */
// .scroller:hover .scroller__track {
//     animation-play-state: paused;
// }

/* احترام تفضيل تقليل الحركة */
@media (prefers-reduced-motion: reduce) {
    .scroller__track {
        animation: none;
    }
}

/* موبايل: صغّري الارتفاع والـgap */
@media (max-width: 576px) {
    .scroller {
        --gap: 2px !important;
    }

    .scroller__track {
        display: flex;
        gap: 0px !important;
        width: max-content;
        align-items: center;
        animation: scroll var(--speed) linear infinite;
    }



    .scroller__track img {
        display: block;
        object-fit: contain;
        pointer-events: none;
        user-select: none;
        height: 200px !important;
        object-fit: contain;
    }


}


// img {
//     transform: rotateZ(-20deg);
// }



// .soda {
//     background-image: url('../../../../assets/image carousel/ara.png.png');
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 100px;
//     // height: 580px;
//     width: 1950px;
//     margin: auto;
// }