<div class="scroller pt-5 " dir="ltr"> <!-- لو عايزة عربي خليه dir="rtl" -->
    <ul class="scroller__track ">
        <!-- الصف الأصلي -->
        <li><img class="img1" src="../../../../assets/image carousel/black milk tea edit.png" alt=""></li>
        <li><img class="img2" src="../../../../assets/image carousel/coconut.png" alt=""></li>
        <li><img class="img1" src="../../../../assets/image carousel/MANGO 1 edit.png" alt=""></li>
        <li><img class="img2" src="../../../../assets/image carousel/special mango.png" alt=""></li>
        <li><img class="img1" src="../../../../assets/image carousel/tiger brown creme brulee edit.png" alt=""></li>
        <li><img class="img2" src="../../../../assets/image carousel/kiwi.png" alt=""></li>
        <li><img class="img1" src="../../../../assets/image carousel/matcha boba edit.png" alt=""></li>
        <li><img class="img2" src="../../../../assets/image carousel/lychee (1).png" alt=""></li>
        <li><img class="img1" src="../../../../assets/image carousel/matcha mango 1 edit.png" alt=""></li>
        <li><img class="img2" src="../../../../assets/image carousel/blue berry (1).png" alt=""></li>


        <li aria-hidden="true"><img class="img1" src="../../../../assets/image carousel/black milk tea edit.png" alt="">
        </li>
        <li aria-hidden="true"><img class="img2" src="../../../../assets/image carousel/coconut.png" alt=""></li>
        <li aria-hidden="true"><img class="img1" src="../../../../assets/image carousel/MANGO 1 edit.png" alt="">
        </li>
        <li aria-hidden="true"><img class="img2" src="../../../../assets/image carousel/special mango.png" alt="">
        </li>
        <li aria-hidden="true"><img class="img1"
                src="../../../../assets/image carousel/tiger brown creme brulee edit.png" alt=""></li>
        <li aria-hidden="true"><img class="img2" src="../../../../assets/image carousel/kiwi.png" alt=""></li>
        <li aria-hidden="true"><img class="img1" src="../../../../assets/image carousel/matcha boba edit.png" alt="">
        </li>
        <li aria-hidden="true"><img class="img2" src="../../../../assets/image carousel/lychee (1).png" alt=""></li>
        <li aria-hidden="true"><img class="img1" src="../../../../assets/image carousel/matcha mango 1 edit.png" alt="">
        </li>
        <li aria-hidden="true"><img class="img2" src="../../../../assets/image carousel/blue berry (1).png" alt="">
        </li>
    </ul>
</div>

<div class="soda d-flex align-items-start "></div>