<div class=" mt-5 pt-5 position-relative ">
    <h2 class="mb-0 raw-material text-center main-color d-flex justify-content-center second-color">
        {{'home.rawMaterial.raw'|translate}} {{'home.rawMaterial.material'|translate}}
    </h2>
    <p class="w-100 px-1 mb-3 text-center m-auto fs-5 text-secondary">
        {{ 'home.rawmaterialsSlogan' | translate }}
    </p>




    <div class="scroller mt-4" dir="ltr"> <!-- لو عايزة عربي خليه dir="rtl" -->


        <ul class="scroller__track">
            <!-- الصف الأصلي -->
            <li><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt=""></li>
            <li><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt=""></li>
            <li><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt=""></li>
            <li><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt=""></li>
            <li><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt=""></li>
            <li><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt=""></li>
            <li><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt=""></li>
            <li><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt=""></li>
            <li><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt=""></li>
            <li><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt=""></li>
            <li><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt=""></li>
            <li><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt=""></li>
            <li><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt=""></li>
            <li><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt=""></li>
            <li><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt=""></li>
            <li><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt=""></li>
            <li><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt=""></li>
            <li><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt=""></li>


            <li aria-hidden="true"><img class="img1" src="../../../../assets/image carousel/Frame (1).png" alt="">
            </li>
            <li aria-hidden="true"><img class="img2" src="../../../../assets/image carousel/Isolation_Mode.png" alt="">
            </li>

        </ul>
    </div>




</div>