.page-title {
  color: #222;
  font-weight: 700;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.checkout-section {
  margin-bottom: 36px;
}

.checkout-section h4 {
  font-size: 18px;
  margin-bottom: 16px;
}


.checkout-left {
  background: #fffdfb;
  border-radius: 20px;
  padding: 32px;
  box-shadow:
    0 10px 30px rgba(0,0,0,0.08),
    0 2px 6px rgba(0,0,0,0.04);
}


.checkout-section h4 {
  font-weight: 700;
  margin-bottom: 12px;
}

.address-row {
  padding: 12px;
  border-radius: 10px;
  transition: background .2s;
}

.address-row:hover {
  background: #fafafa;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  border: 2px solid #222121;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  border: 2px solid #ff7a00;

  background-color: #ff7a00;
  box-shadow: inset 0 0 0 1px #ff7a00;
}

.add-address-btn {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 14px;
  margin-top: 10px;
}

.discount-row {
  display: flex;
  gap: 10px;
}

.btn-apply {
  background: #666;
  color: #fff;
  border: none;
  padding: 0 16px;
  border-radius: 6px;
}

.error {
  color: red;
  font-size: 13px;
}

.confirm-btn {
  width: 100%;
  // background: linear-gradient(135deg, #ff7a00, #ff9800);
  color: #fff;
  border-radius: 18px;
  padding: 18px;
  font-size: 17px;
  font-weight: 700;
  // box-shadow: 0 6px 16px rgba(255,122,0,0.35);
  transition: transform 0.15s ease;
}

.confirm-btn:hover {
  transform: translateY(-1px);
}


.checkout-right {
  background: #fafafa;
  border-radius: 18px;
  padding: 24px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  height: fit-content;
  padding-bottom: 20px;
}


.summary-item,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-total {
  font-weight: 800;
}

/* mobile */
@media (max-width: 768px) {
  .checkout-grid {
    grid-template-columns: 1fr;
  }
}

body {
  font-family: 'Poppins', 'Cairo', sans-serif;
}

h4 {
  font-weight: 600;
}

span, small {
  color: #555;
}


.address-row {
  padding: 14px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all .2s ease;
}

.address-row.active {
  background: #fff4ec;
  border: 1px solid #ffd2b3;
}

