<div class="container checkout-page py-5">

    <h2 class="page-title">
        {{ 'delivery.deliveryInformation' | translate }}
    </h2>

    <div class="checkout-grid">

        <!-- LEFT -->
        <div class="checkout-left">

            <form [formGroup]="orderForm" (ngSubmit)="submitOrder()">

                <!-- Address -->
                <div class="checkout-section">
                    <h4>{{ 'delivery.selectAddress' | translate }}</h4>

                    <label class="address-row" [class.active]="orderForm.value.addressId === address.id"
                        *ngFor="let address of addresses">

                        <input type="radio" formControlName="addressId" [value]="address.id" />
                        <span>
                            {{ address.street }} - {{ address.cityName }} - {{ address.governorateName }}
                        </span>
                    </label>

                    <button type="button" class="add-address-btn" (click)="goToAddAddress()">
                        + {{ 'delivery.addNewAddress' | translate }}
                    </button>
                </div>

                <!-- Payment -->
                <div class="checkout-section">
                    <h4>{{ 'delivery.paymentMethod' | translate }}</h4>

                    <select class="form-control" formControlName="paymentMethodId">
                        <option [ngValue]="null">Select</option>
                        <option *ngFor="let method of paymentMethods" [ngValue]="method.id">
                            {{ method.name }}
                        </option>
                    </select>
                </div>

                <!-- Discount -->
                <div class="checkout-section">
                    <h4>{{ 'delivery.code' | translate }}</h4>

                    <div class="discount-row">
                        <input type="text" class="form-control" formControlName="code" />
                        <button type="button" class="btn-apply" (click)="checkDiscountCode()">
                            Apply
                        </button>
                    </div>

                    <small class="error" *ngIf="discountError">
                        {{ discountError }}
                    </small>
                </div>

                <!-- Submit -->
                <button class="btn btn-bg-color w-100" [disabled]="loading">
                    {{ 'delivery.confirmOrder' | translate }}
                </button>

            </form>
        </div>

        <!-- RIGHT -->
        <div class="checkout-right d-flex flex-column">
            <h3>{{ 'delivery.orderSummary' | translate }}</h3>
            <div class="summary-item" *ngFor="let item of cartItems">
                <div class="d-flex flex-column">
                    <p class="fw-normal ">{{ (languageService.languageChanged$ | async) === 'ar' ? item.name_ar : item.name }}</p>
                    <span> {{ (languageService.languageChanged$ | async) === 'ar' ? item.variantNameAr :
                        item.variantName }}

                        <span *ngIf=" item.variantName != null">,</span>

                        {{ (languageService.languageChanged$ | async) === 'ar' ?
                        item.optionsTextAr : item.optionsText }} </span>
                </div>
                <span>{{ item.totalPrice }} {{ (languageService.languageChanged$ | async) === 'ar' ? item.currency_ar :
                    item.currency }}</span>
                <!-- <span class="bg-info"></span> -->
            </div>
            <hr />
            <div class="summary-total" *ngIf="cartItems.length">
                <span>{{ 'delivery.totalAmount' | translate }}</span>
                <span>{{ totalamount }} {{ (languageService.languageChanged$ | async) === 'ar' ?
                    cartItems[0].currency_ar :
                    cartItems[0].currency }}</span>
            </div>
        </div>

    </div>
</div>