.product-card {
    background: white;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 340px;
    margin: auto;
    font-size: 40px;
    /* font-family: "Arial", sans-serif; */
    /* background-image: url('../../../assets/Web\ 1920\ –\ 3\ \(1\).png'); */
    background-position: center;
    background-size: cover;

}

.product-card img {
    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
    pointer-events: none;
}

.image-wrapper {
    /* position: relative; */
    width: 60%;
    margin: auto;
}

.bg-image {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* top: 0;
  left: 0; */
    /* z-index: 0; */
}

.categories-wrapper{
    max-width: 1500px;
    margin: auto;
}

.discount-badge {
    // position: absolute;
    // top: 10px;
    // left: 10px;
    // background: orange;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 50%;
    font-weight: bold;
}

.icons {
    /* position: absolute; */
    top: 10px;
    right: 10px;
    // color: #e36d11;
    font-size: 16px;
    display: flex;
    gap: 10px;
}

.product-name {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
    /* font-weight: 750; */
}

.price {
    /* margin-top: 0px; */
    font-size: 18px;
    // color: #e36d11;
    font-weight: bold;
}

/* @media (max-width: 768px) {
  .product-card:nth-child(n+2) {
    display: none;
  }
} */

.product-name {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: normal;
    color: #000000;
    // letter-spacing: 0.8px;

    /* font-weight: 750; */
}

.bg-babyblue {
    background-image: url("../../../../assets/background7-01.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(219, 240, 250, 0.2);
    margin: 30px auto;
    max-width: 1950px;

}

/* .mySwiper:not(.is-ready) .swiper-slide { visibility: hidden; }
.mySwiper.is-ready .swiper-slide { visibility: visible; } */

@media (max-width: 768px) {
    .product-card {
        min-height: 310px !important;
    }

    .product-name {
        font-size: 25px;
        margin: 0;
    }

    .product-image {
        width: 60%;
        height: auto;
    }

    .slider-arrow {
        font-size: 10px;
    }
}



.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #000000;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

}


.slider-arrow.left {
    left: 8px;
}

.slider-arrow.right {
    right: 8px;
}

/* تحسين مظهر الصور داخل السلايد */
.product-card img {
    display: block;
    width: 100%;
    height: auto;
}



/* لو الستايل داخل SCSS بتاع الكمبوننت */
:host ::ng-deep .owl-stage { display: flex; }
:host ::ng-deep .owl-item { display: flex; }
:host ::ng-deep .owl-item > * { height: 100%; width: 100%; } /* عنصر السلايد نفسه */
.outOfStock{
  color: red;
  border: 1px solid red;

}