<div class="second py-5 mb-0 mt-0" *ngIf="bestSellerProducts.length > 0">
  <section class="categories-section ">
    <div class="categories-wrapper ">
      <h1 class="text-center mb-0 second-color ">
        {{ 'home.bestSellers' | translate }}
        {{ 'home.bestSellers-complete' | translate }}
      </h1>
      <p class="text-center mb-2 fs-5">{{ 'home.recomendedSlogan' | translate }}</p>

      <div class="position-relative px-5 my-5">



        <!-- ✅ Decor bubbles (ثابتة) -->
        <div class="bubbles-decor" aria-hidden="true">
          <span class="bubble b1" style="--c:#ff7a00;"></span>
          <span class="bubble b2" style="--c:#ff7a00;"></span>
          <span class="bubble b3" style="--c:#0aa6c6;"></span>
          <span class="bubble b4" style="--c:#0aa6c6;"></span>
          <span class="bubble b5" style="--c:#ff7a00;"></span>
          <span class="bubble b6" style="--c:#0aa6c6;"></span>
          <span class="bubble b7" style="--c:#fdff78;"></span>
        </div>



        <!-- سهم يسار -->
        <button class="slider-arrow left" (click)="bestCarousel.prev()">
          <i class="bi bi-chevron-left"></i>
        </button>

        <owl-carousel-o *ngIf="bestSellerProducts?.length" #bestCarousel class="mt-2" [options]="bestOptions"
          (drag)="dragging = true" (dragged)="dragging = false">

          <ng-template carouselSlide *ngFor="let product of bestSellerProducts; trackBy: trackById">
            <div class="product-card h-100 d-flex flex-column justify-content-between pointer text-center"
              (click)="onProductClick(product, $event)">

              <div class="image-wrapper">
                <img [src]="product.productImages[0]" class="product-image" [attr.draggable]="false"
                  (dragstart)="$event.preventDefault()" />
              </div>

              <p class="product-name main-color">
                {{ (languageService.languageChanged$ | async) === 'ar'
                ? product.productName_ar
                : product.productName }}
              </p>

              <div class="price second-color">
                <span>{{ product.oldPrice }}
                  <span>
                    {{ (languageService.languageChanged$ | async) === 'ar'
                    ? product.currency_ar
                    : product.currency }}
                  </span>
                </span>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>

        <!-- سهم يمين -->
        <button class="slider-arrow right" (click)="bestCarousel.next()">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </section>
</div>