<div class="auth-bg">
    <img src="../../../assets/sloga website-03.png" class="overlay-text-image" alt="Reset Password" />

    <div class="card login-card">
      <h2 class="text-center fw-bolder mb-4">{{"auth.ResetYourPassword" | translate}}</h2>

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 text-start">
          <label class="form-label fw-normal">{{"auth.newpassword" | translate}}</label>
          <input type="password" class="form-control" formControlName="newPassword" placeholder="********" />
        </div>

        <div *ngIf="errorMessages.length > 0" class="text-danger mb-3">
          <ul class="mb-0 small">
            <li *ngFor="let msg of errorMessages">{{ msg }}</li>
          </ul>
        </div>

        <div *ngIf="successMessage" class="text-success text-center mb-3">
          {{ successMessage }}
        </div>

        <button type="submit" class="btn btn-coffee"><span class="text-white fw-normal">{{"auth.resetPassword" | translate}}</span></button>
      </form>
    </div>
  </div>